html, body {
  overflow-x: hidden;   // evita scroll horizontal
  overflow-y: auto;     // permite scroll vertical
  scrollbar-width: none;         // Firefox
}

body::-webkit-scrollbar {
  display: none;        // Chrome, Safari, Edge
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative; /* para que z-index funcione */
  z-index: 1;         /* un valor bajo, menor que el de la luna (9999) */
}